/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main {
  height: 96vh;
  width: 96vw;
  background-color: #262525;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* NAVIGATION BAR */

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 468px;
  width: 56px;
  margin-left: 18px;
  margin-top: 46px;
}

.navigation-bar .icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.menu.icon {
  width: 21px;
  height: 14px;
  margin: 0px 15px 0px 20px;
}

.home-icon-container {
  width: 56px;
  height: 56px;
  background-color: #4169E114;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTENT */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 809px;
  height: 100%;
  row-gap: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  padding-top: 40px;
}

.dashboard-container {
  background-color: #1D1D1D;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 2px #00000040;
}

.dashboard-container.small {
  width: 245px;
  height: 153px;
}

.dashboard-container.medium {
  width: 386px;
  height: 157px;
}

.dashboard-container.big {
  width: 809px;
  height: 195px;
}


.right-content {
  width: 50%;
  height: 100%;
  border: 1px solid blue;
}